<form [formGroup]="teacherForm">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="teacher">Docente: </label>
        <select formControlName="name" id="teacher">
          <option *ngFor="let teacher of teachers; let i = index" [value]="teacher.id">
            {{ teacher.user.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="role">Rol: </label>
        <select formControlName="role" id="role">
          <option [value]="mainResearcher">
            Investigador principal
          </option>
          <option [value]="'secondaryResearcher'">
            Investigador secundario
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <button type="button" (click)="addTeacher()">Añadir docente</button>
    </div>
  </div>
</form>